$background-color: #292b2f;
$content-color: #2f3136;

$buttonLogin: #5e66f4;
$buttonLogout: #e24446;

* {
	margin: 0;
}

body {
	width: 100%;
	max-width: 100vw;
	min-height: 100vh;
	background-color: $background-color;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.white {
	color: white;
}

.bold {
	font-weight: bold;
}

button:hover {
	cursor: pointer;
}

.content {
	min-height: 80vh;
	width: 100%;
	background-color: $content-color;
}

.error {
	color: white;
	text-align: center;
	margin: auto;
}

.loginButton {
	border: none;
	color: white;
	padding: 15px;
	vertical-align: middle;
	margin: 3px;
	background-color: $buttonLogin;
	border: darken($buttonLogin, 5) solid 2px;
	border-radius: 10px;
}

textarea {
	resize: none;
}

.clickable:hover {
	cursor: pointer;
}

.flex {
	display: flex;
	flex-direction: column;
}

.widthMax {
	width: 100%;
}

.small {
	font-size: 8px;
	line-height: 10px;
}

.warning {
	position: fixed;
	top: 0;
	left: 35%;
	width: 30%;
	height: fit-content;
	padding: 10px;
	margin: auto 0;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	z-index: 100;
	border: black 3px solid;
}