.checkbox {
	color: white;
}

.smallText {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 5px;

	input {
		margin-bottom: 10px;
	}
}

.bigText {
	display: flex;
	width: 100%;
	height: 100%;

	textarea {
		margin-right: 10px;
		width: 100%;
		border: 0;
	}
}

.messageContentBuilder {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 5px;

	.messageContentBuilderInput {
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		.mcbifirst {
			grid-column: 1 / 4;
		}
	}
}

.embedBuilder {
	display: grid;
	grid-template-columns: 2fr 1fr;
	margin: 5px;

	.embedBuilderInfo {
		width: 95%;
	}
}

.folder {
	display: flex;
	flex-direction: column;
	border: solid white 2px;
	border-radius: 15px;
	margin: 15px;

	.opener {
		padding: 10px;
	}

	.openerData {
		margin: 10px;
	}
}

.messageBuilder {
	width: 100%;
}

.messageContent {
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	.messageContentBuilderIn {
		grid-column: 1/4;
	}
}